# Setting up this notebook

In [1]:
# to support python 2 and python 3
from __future__ import division, print_function, unicode_literals

import os
import numpy as np
# to make this notebook's output stable across runs
np.random.seed(42)

# to make plots
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt

HOUSING_PATH = "datasets/titanic"
# getting a dataframe object from the csv file
import pandas as pd
def load_housing_data(path,housing_path=HOUSING_PATH):
    csv_path = os.path.join(housing_path, path)
    return pd.read_csv(csv_path)
titanic = load_housing_data(path = "train.csv")
titanic_test = load_housing_data(path = "test.csv")

In [2]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
titanic = titanic.drop("Name",axis = 1)
titanic = titanic.drop("Ticket",axis = 1)
titanic = titanic.drop("Cabin",axis = 1)
titanic = titanic.drop("PassengerId",axis = 1)
titanic_test = titanic_test.drop("Name",axis = 1)
titanic_test = titanic_test.drop("Ticket",axis = 1)
titanic_test = titanic_test.drop("Cabin",axis = 1)
titanic_test = titanic_test.drop("PassengerId",axis = 1)

In [4]:
codes, uniques = pd.factorize(pd.concat([titanic['Sex'], titanic_test['Sex']]))
titanic['Sex'] = codes[:len(titanic)]
titanic_test['Sex'] = codes[len(titanic):]
titanic

     Survived  Pclass  Sex   Age  SibSp  Parch      Fare Embarked
0           0       3    0  22.0      1      0    7.2500        S
1           1       1    1  38.0      1      0   71.2833        C
2           1       3    1  26.0      0      0    7.9250        S
3           1       1    1  35.0      1      0   53.1000        S
4           0       3    0  35.0      0      0    8.0500        S
5           0       3    0   NaN      0      0    8.4583        Q
6           0       1    0  54.0      0      0   51.8625        S
7           0       3    0   2.0      3      1   21.0750        S
8           1       3    1  27.0      0      2   11.1333        S
9           1       2    1  14.0      1      0   30.0708        C
10          1       3    1   4.0      1      1   16.7000        S
11          1       1    1  58.0      0      0   26.5500        S
12          0       3    0  20.0      0      0    8.0500        S
13          0       3    0  39.0      1      5   31.2750        S
14          0       3    1  14.0      0      0    7.8542        S
15          1       2    1  55.0      0      0   16.0000        S
16          0       3    0   2.0      4      1   29.1250        Q
17          1       2    0   NaN      0      0   13.0000        S
18          0       3    1  31.0      1      0   18.0000        S
19          1       3    1   NaN      0      0    7.2250        C
20          0       2    0  35.0      0      0   26.0000        S
21          1       2    0  34.0      0      0   13.0000        S
22          1       3    1  15.0      0      0    8.0292        Q
23          1       1    0  28.0      0      0   35.5000        S
24          0       3    1   8.0      3      1   21.0750        S
25          1       3    1  38.0      1      5   31.3875        S
26          0       3    0   NaN      0      0    7.2250        C
27          0       1    0  19.0      3      2  263.0000        S
28          1       3    1   NaN      0      0    7.8792        Q
29          0       3    0   NaN      0      0    7.8958        S
..        ...     ...  ...   ...    ...    ...       ...      ...
861         0       2    0  21.0      1      0   11.5000        S
862         1       1    1  48.0      0      0   25.9292        S
863         0       3    1   NaN      8      2   69.5500        S
864         0       2    0  24.0      0      0   13.0000        S
865         1       2    1  42.0      0      0   13.0000        S
866         1       2    1  27.0      1      0   13.8583        C
867         0       1    0  31.0      0      0   50.4958        S
868         0       3    0   NaN      0      0    9.5000        S
869         1       3    0   4.0      1      1   11.1333        S
870         0       3    0  26.0      0      0    7.8958        S
871         1       1    1  47.0      1      1   52.5542        S
872         0       1    0  33.0      0      0    5.0000        S
873         0       3    0  47.0      0      0    9.0000        S
874         1       2    1  28.0      1      0   24.0000        C
875         1       3    1  15.0      0      0    7.2250        C
876         0       3    0  20.0      0      0    9.8458        S
877         0       3    0  19.0      0      0    7.8958        S
878         0       3    0   NaN      0      0    7.8958        S
879         1       1    1  56.0      0      1   83.1583        C
880         1       2    1  25.0      0      1   26.0000        S
881         0       3    0  33.0      0      0    7.8958        S
882         0       3    1  22.0      0      0   10.5167        S
883         0       2    0  28.0      0      0   10.5000        S
884         0       3    0  25.0      0      0    7.0500        S
885         0       3    1  39.0      0      5   29.1250        Q
886         0       2    0  27.0      0      0   13.0000        S
887         1       1    1  19.0      0      0   30.0000        S
888         0       3    1   NaN      1      2   23.4500        S
889         1       1    0  26.0      0      0   30.0000        C
890         0       3    0  32.0      0      0    7.7500        Q

[891 rows x 8 columns]

In [5]:
codes, uniques = pd.factorize(pd.concat([titanic['Embarked'], titanic_test['Embarked']]))
titanic['Embarked'] = codes[:len(titanic)]
titanic_test['Embarked'] = codes[len(titanic):]
titanic

     Survived  Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0           0       3    0  22.0      1      0    7.2500         0
1           1       1    1  38.0      1      0   71.2833         1
2           1       3    1  26.0      0      0    7.9250         0
3           1       1    1  35.0      1      0   53.1000         0
4           0       3    0  35.0      0      0    8.0500         0
5           0       3    0   NaN      0      0    8.4583         2
6           0       1    0  54.0      0      0   51.8625         0
7           0       3    0   2.0      3      1   21.0750         0
8           1       3    1  27.0      0      2   11.1333         0
9           1       2    1  14.0      1      0   30.0708         1
10          1       3    1   4.0      1      1   16.7000         0
11          1       1    1  58.0      0      0   26.5500         0
12          0       3    0  20.0      0      0    8.0500         0
13          0       3    0  39.0      1      5   31.2750         0
14          0       3    1  14.0      0      0    7.8542         0
15          1       2    1  55.0      0      0   16.0000         0
16          0       3    0   2.0      4      1   29.1250         2
17          1       2    0   NaN      0      0   13.0000         0
18          0       3    1  31.0      1      0   18.0000         0
19          1       3    1   NaN      0      0    7.2250         1
20          0       2    0  35.0      0      0   26.0000         0
21          1       2    0  34.0      0      0   13.0000         0
22          1       3    1  15.0      0      0    8.0292         2
23          1       1    0  28.0      0      0   35.5000         0
24          0       3    1   8.0      3      1   21.0750         0
25          1       3    1  38.0      1      5   31.3875         0
26          0       3    0   NaN      0      0    7.2250         1
27          0       1    0  19.0      3      2  263.0000         0
28          1       3    1   NaN      0      0    7.8792         2
29          0       3    0   NaN      0      0    7.8958         0
..        ...     ...  ...   ...    ...    ...       ...       ...
861         0       2    0  21.0      1      0   11.5000         0
862         1       1    1  48.0      0      0   25.9292         0
863         0       3    1   NaN      8      2   69.5500         0
864         0       2    0  24.0      0      0   13.0000         0
865         1       2    1  42.0      0      0   13.0000         0
866         1       2    1  27.0      1      0   13.8583         1
867         0       1    0  31.0      0      0   50.4958         0
868         0       3    0   NaN      0      0    9.5000         0
869         1       3    0   4.0      1      1   11.1333         0
870         0       3    0  26.0      0      0    7.8958         0
871         1       1    1  47.0      1      1   52.5542         0
872         0       1    0  33.0      0      0    5.0000         0
873         0       3    0  47.0      0      0    9.0000         0
874         1       2    1  28.0      1      0   24.0000         1
875         1       3    1  15.0      0      0    7.2250         1
876         0       3    0  20.0      0      0    9.8458         0
877         0       3    0  19.0      0      0    7.8958         0
878         0       3    0   NaN      0      0    7.8958         0
879         1       1    1  56.0      0      1   83.1583         1
880         1       2    1  25.0      0      1   26.0000         0
881         0       3    0  33.0      0      0    7.8958         0
882         0       3    1  22.0      0      0   10.5167         0
883         0       2    0  28.0      0      0   10.5000         0
884         0       3    0  25.0      0      0    7.0500         0
885         0       3    1  39.0      0      5   29.1250         2
886         0       2    0  27.0      0      0   13.0000         0
887         1       1    1  19.0      0      0   30.0000         0
888         0       3    1   NaN      1      2   23.4500         0
889         1       1    0  26.0      0      0   30.0000         1
890         0       3    0  32.0      0      0    7.7500         2

[891 rows x 8 columns]

In [6]:
titanic.mean()
titanic["Age"].fillna(titanic.mean()["Age"],inplace = True)
titanic_test["Age"].fillna(titanic.mean()["Age"],inplace = True)
titanic

     Survived  Pclass  Sex        Age  SibSp  Parch      Fare  Embarked
0           0       3    0  22.000000      1      0    7.2500         0
1           1       1    1  38.000000      1      0   71.2833         1
2           1       3    1  26.000000      0      0    7.9250         0
3           1       1    1  35.000000      1      0   53.1000         0
4           0       3    0  35.000000      0      0    8.0500         0
5           0       3    0  29.699118      0      0    8.4583         2
6           0       1    0  54.000000      0      0   51.8625         0
7           0       3    0   2.000000      3      1   21.0750         0
8           1       3    1  27.000000      0      2   11.1333         0
9           1       2    1  14.000000      1      0   30.0708         1
10          1       3    1   4.000000      1      1   16.7000         0
11          1       1    1  58.000000      0      0   26.5500         0
12          0       3    0  20.000000      0      0    8.0500         0
13          0       3    0  39.000000      1      5   31.2750         0
14          0       3    1  14.000000      0      0    7.8542         0
15          1       2    1  55.000000      0      0   16.0000         0
16          0       3    0   2.000000      4      1   29.1250         2
17          1       2    0  29.699118      0      0   13.0000         0
18          0       3    1  31.000000      1      0   18.0000         0
19          1       3    1  29.699118      0      0    7.2250         1
20          0       2    0  35.000000      0      0   26.0000         0
21          1       2    0  34.000000      0      0   13.0000         0
22          1       3    1  15.000000      0      0    8.0292         2
23          1       1    0  28.000000      0      0   35.5000         0
24          0       3    1   8.000000      3      1   21.0750         0
25          1       3    1  38.000000      1      5   31.3875         0
26          0       3    0  29.699118      0      0    7.2250         1
27          0       1    0  19.000000      3      2  263.0000         0
28          1       3    1  29.699118      0      0    7.8792         2
29          0       3    0  29.699118      0      0    7.8958         0
..        ...     ...  ...        ...    ...    ...       ...       ...
861         0       2    0  21.000000      1      0   11.5000         0
862         1       1    1  48.000000      0      0   25.9292         0
863         0       3    1  29.699118      8      2   69.5500         0
864         0       2    0  24.000000      0      0   13.0000         0
865         1       2    1  42.000000      0      0   13.0000         0
866         1       2    1  27.000000      1      0   13.8583         1
867         0       1    0  31.000000      0      0   50.4958         0
868         0       3    0  29.699118      0      0    9.5000         0
869         1       3    0   4.000000      1      1   11.1333         0
870         0       3    0  26.000000      0      0    7.8958         0
871         1       1    1  47.000000      1      1   52.5542         0
872         0       1    0  33.000000      0      0    5.0000         0
873         0       3    0  47.000000      0      0    9.0000         0
874         1       2    1  28.000000      1      0   24.0000         1
875         1       3    1  15.000000      0      0    7.2250         1
876         0       3    0  20.000000      0      0    9.8458         0
877         0       3    0  19.000000      0      0    7.8958         0
878         0       3    0  29.699118      0      0    7.8958         0
879         1       1    1  56.000000      0      1   83.1583         1
880         1       2    1  25.000000      0      1   26.0000         0
881         0       3    0  33.000000      0      0    7.8958         0
882         0       3    1  22.000000      0      0   10.5167         0
883         0       2    0  28.000000      0      0   10.5000         0
884         0       3    0  25.000000      0      0    7.0500         0
885         0       3    1  39.000000      0      5   29.1250         2
886         0       2    0  27.000000      0      0   13.0000         0
887         1       1    1  19.000000      0      0   30.0000         0
888         0       3    1  29.699118      1      2   23.4500         0
889         1       1    0  26.000000      0      0   30.0000         1
890         0       3    0  32.000000      0      0    7.7500         2

[891 rows x 8 columns]

In [7]:
X,Y =titanic.drop("Survived",axis=1) ,titanic['Survived']

In [8]:
Y.shape

(891,)

In [9]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(titanic, test_size = 0.2 , random_state = 42)
print(len(train_set), len(test_set))

712 179

In [10]:
X_train,y_train = train_set.drop("Survived",axis = 1),train_set['Survived']
X_test, y_test =  test_set.drop("Survived",axis = 1),test_set['Survived']

In [11]:
X_train

     Pclass  Sex        Age  SibSp  Parch      Fare  Embarked
331       1    0  45.500000      0      0   28.5000         0
733       2    0  23.000000      0      0   13.0000         0
382       3    0  32.000000      0      0    7.9250         0
704       3    0  26.000000      1      0    7.8542         0
813       3    1   6.000000      4      2   31.2750         0
118       1    0  24.000000      0      1  247.5208         1
536       1    0  45.000000      0      0   26.5500         0
361       2    0  29.000000      1      0   27.7208         1
29        3    0  29.699118      0      0    7.8958         0
55        1    0  29.699118      0      0   35.5000         0
865       2    1  42.000000      0      0   13.0000         0
595       3    0  36.000000      1      1   24.1500         0
239       2    0  33.000000      0      0   12.2750         0
721       3    0  17.000000      1      0    7.0542         0
81        3    0  29.000000      0      0    9.5000         0
259       2    1  50.000000      0      1   26.0000         0
486       1    1  35.000000      1      0   90.0000         0
716       1    1  38.000000      0      0  227.5250         1
800       2    0  34.000000      0      0   13.0000         0
781       1    1  17.000000      1      0   57.0000         0
542       3    1  11.000000      4      2   31.2750         0
326       3    0  61.000000      0      0    6.2375         0
534       3    1  30.000000      0      0    8.6625         0
535       2    1   7.000000      0      2   26.2500         0
483       3    1  63.000000      0      0    9.5875         0
762       3    0  20.000000      0      0    7.2292         1
533       3    1  29.699118      0      2   22.3583         1
713       3    0  29.000000      0      0    9.4833         0
390       1    0  36.000000      1      2  120.0000         0
495       3    0  29.699118      0      0   14.4583         1
..      ...  ...        ...    ...    ...       ...       ...
276       3    1  45.000000      0      0    7.7500         0
191       2    0  19.000000      0      0   13.0000         0
385       2    0  18.000000      0      0   73.5000         0
805       3    0  31.000000      0      0    7.7750         0
413       2    0  29.699118      0      0    0.0000         0
491       3    0  21.000000      0      0    7.2500         0
343       2    0  25.000000      0      0   13.0000         0
769       3    0  32.000000      0      0    8.3625         0
308       2    0  30.000000      1      0   24.0000         1
661       3    0  40.000000      0      0    7.2250         1
130       3    0  33.000000      0      0    7.8958         1
663       3    0  36.000000      0      0    7.4958         0
871       1    1  47.000000      1      1   52.5542         0
99        2    0  34.000000      1      0   26.0000         0
372       3    0  19.000000      0      0    8.0500         0
87        3    0  29.699118      0      0    8.0500         0
458       2    1  50.000000      0      0   10.5000         0
330       3    1  29.699118      2      0   23.2500         2
214       3    0  29.699118      1      0    7.7500         2
466       2    0  29.699118      0      0    0.0000         0
121       3    0  29.699118      0      0    8.0500         0
614       3    0  35.000000      0      0    8.0500         0
20        2    0  35.000000      0      0   26.0000         0
700       1    1  18.000000      1      0  227.5250         1
71        3    1  16.000000      5      2   46.9000         0
106       3    1  21.000000      0      0    7.6500         0
270       1    0  29.699118      0      0   31.0000         0
860       3    0  41.000000      2      0   14.1083         0
435       1    1  14.000000      1      2  120.0000         0
102       1    0  21.000000      0      1   77.2875         0

[712 rows x 7 columns]

In [12]:
from sklearn.linear_model import SGDClassifier

sgd_clf = SGDClassifier(random_state=42)
sgd_clf.fit(X_train, y_train)

SGDClassifier(alpha=0.0001, average=False, class_weight=None, epsilon=0.1,
       eta0=0.0, fit_intercept=True, l1_ratio=0.15,
       learning_rate='optimal', loss='hinge', n_iter=5, n_jobs=1,
       penalty='l2', power_t=0.5, random_state=42, shuffle=True, verbose=0,
       warm_start=False)

In [13]:
from sklearn.model_selection import cross_val_score
cross_val_score(sgd_clf, X_train, y_train, cv=3, scoring="accuracy")

array([ 0.62605042,  0.67510549,  0.62447257])

In [14]:
from sklearn.ensemble import RandomForestClassifier
forest_clf = RandomForestClassifier(random_state=42)
cross_val_score(forest_clf, X_train, y_train, cv=3,
                                    scoring = "accuracy")

array([ 0.79831933,  0.78481013,  0.8185654 ])

In [15]:
forest_clf.fit(X_train,y_train)
predictions = forest_clf.predict(X_test)

In [16]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predictions)

0.78770949720670391

In [17]:
from sklearn.neighbors import KNeighborsClassifier
knn_clf = KNeighborsClassifier(n_jobs=-1, weights='distance', n_neighbors=8)
cross_val_score(knn_clf, X_train, y_train, cv=3,
                                    scoring = "accuracy")

array([ 0.70168067,  0.71729958,  0.74261603])

In [18]:
from sklearn.model_selection import GridSearchCV

param_grid = [
    # try 12 (3×4) combinations of hyperparameters
    {'n_neighbors': [2, 4, 6, 8,10]},
  ]
grid_search = GridSearchCV(knn_clf, param_grid, cv=5,
                           scoring='neg_mean_squared_error')
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, error_score='raise',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=-1, n_neighbors=8, p=2,
           weights=u'distance'),
       fit_params={}, iid=True, n_jobs=1,
       param_grid=[{u'n_neighbors': [2, 4, 6, 8, 10]}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=u'neg_mean_squared_error', verbose=0)

In [19]:
grid_search.best_params_

{u'n_neighbors': 8}

In [20]:
knn_clf.fit(X_train,y_train)
predictions =knn_clf.predict(X_test)

In [21]:
accuracy_score(y_test,predictions)

0.73743016759776536

In [22]:
forest_clf.fit(X,Y)
pred_for =forest_clf.predict(X_test)
accuracy_score(y_test,pred_for)

0.97206703910614523

In [23]:
np.where(pd.isnull(titanic_test))

(array([152]), array([5]))

In [25]:
titanic_test["Fare"].fillna(titanic.mean()["Fare"],inplace = True)

In [26]:
predict = forest_clf.predict(titanic_test)

In [27]:
submission = pd.DataFrame({
        "PassengerId": load_housing_data(path = "test.csv")["PassengerId"],
        "Survived": predict
    })

In [ ]:
csv_path = os.path.join(HOUSING_PATH, "submission.csv")
submission.to_csv(csv_path, index=False)

In [37]:
import tensorflow as tf
config = tf.contrib.learn.RunConfig(tf_random_seed = 42)

feature_cols = tf.contrib.learn.infer_real_valued_columns_from_input(X_train)
dnn_clf = tf.contrib.learn.DNNClassifier(hidden_units=[300,300,300], n_classes = 10,
                                        feature_columns = feature_cols)
dnn_clf = tf.contrib.learn.SKCompat(dnn_clf)
dnn_clf.fit(X_train,y_train,batch_size = 50 , steps = 40000)

WARNING:tensorflow:float64 is not supported by many models, consider casting to float32.
INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmphfUNpl
INFO:tensorflow:Using config: {'_save_checkpoints_secs': 600, '_num_ps_replicas': 0, '_keep_checkpoint_max': 5, '_task_type': None, '_is_chief': True, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7f0d70c40fd0>, '_model_dir': '/tmp/tmphfUNpl', '_save_checkpoints_steps': None, '_keep_checkpoint_every_n_hours': 10000, '_session_config': None, '_tf_random_seed': None, '_save_summary_steps': 100, '_environment': 'local', '_num_worker_replicas': 0, '_task_id': 0, '_log_step_count_steps': 100, '_tf_config': gpu_options {
  per_process_gpu_memory_fraction: 1.0
}
, '_evaluation_master': '', '_master': ''}
WARNING:tensorflow:float64 is not supported by many models, consider casting to float32.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /tmp/tmphfUNpl/model.ckpt.
INFO:tensorflow:loss = 3.32333, step = 1
INFO:tensorflow:global_step/sec: 245.402
INFO:tensorflow:loss = 0.634354, step = 101 (0.410 sec)
INFO:tensorflow:global_step/sec: 222.719
INFO:tensorflow:loss = 0.704504, step = 201 (0.451 sec)
INFO:tensorflow:global_step/sec: 223.131
INFO:tensorflow:loss = 0.597474, step = 301 (0.447 sec)
INFO:tensorflow:global_step/sec: 194.815
INFO:tensorflow:loss = 0.668726, step = 401 (0.513 sec)
INFO:tensorflow:global_step/sec: 168.568
INFO:tensorflow:loss = 0.54818, step = 501 (0.594 sec)
INFO:tensorflow:global_step/sec: 251.317
INFO:tensorflow:loss = 0.473746, step = 601 (0.397 sec)
INFO:tensorflow:global_step/sec: 249.163
INFO:tensorflow:loss = 0.436813, step = 701 (0.401 sec)
INFO:tensorflow:global_step/sec: 247.106
INFO:tensorflow:loss = 0.328876, step = 801 (0.406 sec)
INFO:tensorflow:global_step/sec: 247.757
INFO:tensorflow:loss = 0.404694, step = 901 (0.403 sec)
INFO:tensorflow:global_step/sec: 250.07
INFO:tensorflow:loss = 0.487114, step = 1001 (0.400 sec)
INFO:tensorflow:global_step/sec: 163.833
INFO:tensorflow:loss = 0.604101, step = 1101 (0.611 sec)
INFO:tensorflow:global_step/sec: 245.772
INFO:tensorflow:loss = 0.481199, step = 1201 (0.406 sec)
INFO:tensorflow:global_step/sec: 250.62
INFO:tensorflow:loss = 0.355625, step = 1301 (0.399 sec)
INFO:tensorflow:global_step/sec: 250.6
INFO:tensorflow:loss = 0.423917, step = 1401 (0.399 sec)
INFO:tensorflow:global_step/sec: 243.53
INFO:tensorflow:loss = 0.523937, step = 1501 (0.411 sec)
INFO:tensorflow:global_step/sec: 246.025
INFO:tensorflow:loss = 0.398897, step = 1601 (0.408 sec)
INFO:tensorflow:global_step/sec: 251.056
INFO:tensorflow:loss = 0.421235, step = 1701 (0.397 sec)
INFO:tensorflow:global_step/sec: 248.624
INFO:tensorflow:loss = 0.442075, step = 1801 (0.402 sec)
INFO:tensorflow:global_step/sec: 247.405
INFO:tensorflow:loss = 0.387244, step = 1901 (0.404 sec)
INFO:tensorflow:global_step/sec: 248.374
INFO:tensorflow:loss = 0.349393, step = 2001 (0.403 sec)
INFO:tensorflow:global_step/sec: 248.463
INFO:tensorflow:loss = 0.363835, step = 2101 (0.402 sec)
INFO:tensorflow:global_step/sec: 173.567
INFO:tensorflow:loss = 0.403595, step = 2201 (0.580 sec)
INFO:tensorflow:global_step/sec: 211.777
INFO:tensorflow:loss = 0.445276, step = 2301 (0.469 sec)
INFO:tensorflow:global_step/sec: 247.698
INFO:tensorflow:loss = 0.539512, step = 2401 (0.403 sec)
INFO:tensorflow:global_step/sec: 246.467
INFO:tensorflow:loss = 0.361859, step = 2501 (0.406 sec)
INFO:tensorflow:global_step/sec: 245.363
INFO:tensorflow:loss = 0.473864, step = 2601 (0.408 sec)
INFO:tensorflow:global_step/sec: 247.596
INFO:tensorflow:loss = 0.346206, step = 2701 (0.404 sec)
INFO:tensorflow:global_step/sec: 247.935
INFO:tensorflow:loss = 0.302968, step = 2801 (0.403 sec)
INFO:tensorflow:global_step/sec: 254.025
INFO:tensorflow:loss = 0.307773, step = 2901 (0.394 sec)
INFO:tensorflow:global_step/sec: 242.856
INFO:tensorflow:loss = 0.369473, step = 3001 (0.412 sec)
INFO:tensorflow:global_step/sec: 231.499
INFO:tensorflow:loss = 0.307824, step = 3101 (0.432 sec)
INFO:tensorflow:global_step/sec: 196.967
INFO:tensorflow:loss = 0.51715, step = 3201 (0.509 sec)
INFO:tensorflow:global_step/sec: 239.582
INFO:tensorflow:loss = 0.401998, step = 3301 (0.417 sec)
INFO:tensorflow:global_step/sec: 247.391
INFO:tensorflow:loss = 0.319113, step = 3401 (0.404 sec)
INFO:tensorflow:global_step/sec: 250.493
INFO:tensorflow:loss = 0.269947, step = 3501 (0.399 sec)
INFO:tensorflow:global_step/sec: 217.285
INFO:tensorflow:loss = 0.342364, step = 3601 (0.462 sec)
INFO:tensorflow:global_step/sec: 222.974
INFO:tensorflow:loss = 0.508322, step = 3701 (0.447 sec)
INFO:tensorflow:global_step/sec: 247.6
INFO:tensorflow:loss = 0.313516, step = 3801 (0.404 sec)
INFO:tensorflow:global_step/sec: 192.316
INFO:tensorflow:loss = 0.373276, step = 3901 (0.520 sec)
INFO:tensorflow:global_step/sec: 192.771
INFO:tensorflow:loss = 0.360538, step = 4001 (0.519 sec)
INFO:tensorflow:global_step/sec: 194.718
INFO:tensorflow:loss = 0.216501, step = 4101 (0.514 sec)
INFO:tensorflow:global_step/sec: 249.126
INFO:tensorflow:loss = 0.330785, step = 4201 (0.401 sec)
INFO:tensorflow:global_step/sec: 246.727
INFO:tensorflow:loss = 0.284261, step = 4301 (0.405 sec)
INFO:tensorflow:global_step/sec: 245.141
INFO:tensorflow:loss = 0.248432, step = 4401 (0.408 sec)
INFO:tensorflow:global_step/sec: 242.886
INFO:tensorflow:loss = 0.387323, step = 4501 (0.412 sec)
INFO:tensorflow:global_step/sec: 255.86
INFO:tensorflow:loss = 0.210595, step = 4601 (0.391 sec)
INFO:tensorflow:global_step/sec: 240.367
INFO:tensorflow:loss = 0.289193, step = 4701 (0.416 sec)
INFO:tensorflow:global_step/sec: 248.885
INFO:tensorflow:loss = 0.335699, step = 4801 (0.402 sec)
INFO:tensorflow:global_step/sec: 234.917
INFO:tensorflow:loss = 0.224999, step = 4901 (0.427 sec)
INFO:tensorflow:global_step/sec: 244.939
INFO:tensorflow:loss = 0.306705, step = 5001 (0.407 sec)
INFO:tensorflow:global_step/sec: 187.783
INFO:tensorflow:loss = 0.260985, step = 5101 (0.532 sec)
INFO:tensorflow:global_step/sec: 204.152
INFO:tensorflow:loss = 0.351174, step = 5201 (0.491 sec)
INFO:tensorflow:global_step/sec: 191.837
INFO:tensorflow:loss = 0.409853, step = 5301 (0.520 sec)
INFO:tensorflow:global_step/sec: 187.857
INFO:tensorflow:loss = 0.246759, step = 5401 (0.535 sec)
INFO:tensorflow:global_step/sec: 135.468
INFO:tensorflow:loss = 0.238898, step = 5501 (0.736 sec)
INFO:tensorflow:global_step/sec: 140.523
INFO:tensorflow:loss = 0.340333, step = 5601 (0.711 sec)
INFO:tensorflow:global_step/sec: 149.576
INFO:tensorflow:loss = 0.470122, step = 5701 (0.668 sec)
INFO:tensorflow:global_step/sec: 147.789
INFO:tensorflow:loss = 0.299309, step = 5801 (0.677 sec)
INFO:tensorflow:global_step/sec: 143.47
INFO:tensorflow:loss = 0.230441, step = 5901 (0.699 sec)
INFO:tensorflow:global_step/sec: 146.406
INFO:tensorflow:loss = 0.277795, step = 6001 (0.683 sec)
INFO:tensorflow:global_step/sec: 188.806
INFO:tensorflow:loss = 0.414516, step = 6101 (0.527 sec)
INFO:tensorflow:global_step/sec: 248.015
INFO:tensorflow:loss = 0.284564, step = 6201 (0.404 sec)
INFO:tensorflow:global_step/sec: 245.682
INFO:tensorflow:loss = 0.395217, step = 6301 (0.407 sec)
INFO:tensorflow:global_step/sec: 249.122
INFO:tensorflow:loss = 0.260451, step = 6401 (0.400 sec)
INFO:tensorflow:global_step/sec: 177.064
INFO:tensorflow:loss = 0.260107, step = 6501 (0.565 sec)
INFO:tensorflow:global_step/sec: 148.102
INFO:tensorflow:loss = 0.265698, step = 6601 (0.678 sec)
INFO:tensorflow:global_step/sec: 192.404
INFO:tensorflow:loss = 0.17181, step = 6701 (0.519 sec)
INFO:tensorflow:global_step/sec: 170.609
INFO:tensorflow:loss = 0.325169, step = 6801 (0.584 sec)
INFO:tensorflow:global_step/sec: 194.776
INFO:tensorflow:loss = 0.256078, step = 6901 (0.513 sec)
INFO:tensorflow:global_step/sec: 249.17
INFO:tensorflow:loss = 0.292309, step = 7001 (0.401 sec)
INFO:tensorflow:global_step/sec: 227.418
INFO:tensorflow:loss = 0.291363, step = 7101 (0.440 sec)
INFO:tensorflow:global_step/sec: 238.158
INFO:tensorflow:loss = 0.276703, step = 7201 (0.420 sec)
INFO:tensorflow:global_step/sec: 243.025
INFO:tensorflow:loss = 0.234673, step = 7301 (0.412 sec)

INFO:tensorflow:global_step/sec: 246.328
INFO:tensorflow:loss = 0.252832, step = 7401 (0.405 sec)
INFO:tensorflow:global_step/sec: 255.682
INFO:tensorflow:loss = 0.419448, step = 7501 (0.391 sec)
INFO:tensorflow:global_step/sec: 255.683
INFO:tensorflow:loss = 0.294777, step = 7601 (0.391 sec)
INFO:tensorflow:global_step/sec: 254.556
INFO:tensorflow:loss = 0.197757, step = 7701 (0.393 sec)
INFO:tensorflow:global_step/sec: 255.62
INFO:tensorflow:loss = 0.254186, step = 7801 (0.391 sec)
INFO:tensorflow:global_step/sec: 249.293
INFO:tensorflow:loss = 0.408204, step = 7901 (0.401 sec)
INFO:tensorflow:global_step/sec: 246.077
INFO:tensorflow:loss = 0.367325, step = 8001 (0.407 sec)
INFO:tensorflow:global_step/sec: 243.313
INFO:tensorflow:loss = 0.23909, step = 8101 (0.411 sec)
INFO:tensorflow:global_step/sec: 248.182
INFO:tensorflow:loss = 0.327814, step = 8201 (0.403 sec)
INFO:tensorflow:global_step/sec: 254.717
INFO:tensorflow:loss = 0.267023, step = 8301 (0.393 sec)
INFO:tensorflow:global_step/sec: 249.747
INFO:tensorflow:loss = 0.110499, step = 8401 (0.400 sec)
INFO:tensorflow:global_step/sec: 232.466
INFO:tensorflow:loss = 0.346433, step = 8501 (0.430 sec)
INFO:tensorflow:global_step/sec: 212.488
INFO:tensorflow:loss = 0.193309, step = 8601 (0.471 sec)
INFO:tensorflow:global_step/sec: 255.215
INFO:tensorflow:loss = 0.203324, step = 8701 (0.392 sec)
INFO:tensorflow:global_step/sec: 254.626
INFO:tensorflow:loss = 0.257169, step = 8801 (0.393 sec)
INFO:tensorflow:global_step/sec: 202.53
INFO:tensorflow:loss = 0.255413, step = 8901 (0.496 sec)
INFO:tensorflow:global_step/sec: 233.583
INFO:tensorflow:loss = 0.183696, step = 9001 (0.426 sec)
INFO:tensorflow:global_step/sec: 245.479
INFO:tensorflow:loss = 0.207762, step = 9101 (0.408 sec)
INFO:tensorflow:global_step/sec: 210.161
INFO:tensorflow:loss = 0.241754, step = 9201 (0.476 sec)
INFO:tensorflow:global_step/sec: 240.774
INFO:tensorflow:loss = 0.274702, step = 9301 (0.415 sec)
INFO:tensorflow:global_step/sec: 254.882
INFO:tensorflow:loss = 0.192108, step = 9401 (0.393 sec)
INFO:tensorflow:global_step/sec: 254.486
INFO:tensorflow:loss = 0.24275, step = 9501 (0.392 sec)
INFO:tensorflow:global_step/sec: 252.342
INFO:tensorflow:loss = 0.265666, step = 9601 (0.397 sec)
INFO:tensorflow:global_step/sec: 251.248
INFO:tensorflow:loss = 0.250552, step = 9701 (0.398 sec)
INFO:tensorflow:global_step/sec: 256.679
INFO:tensorflow:loss = 0.23593, step = 9801 (0.390 sec)
INFO:tensorflow:global_step/sec: 252.371
INFO:tensorflow:loss = 0.458206, step = 9901 (0.396 sec)
INFO:tensorflow:global_step/sec: 255.988
INFO:tensorflow:loss = 0.196553, step = 10001 (0.391 sec)
INFO:tensorflow:global_step/sec: 235.064
INFO:tensorflow:loss = 0.173304, step = 10101 (0.429 sec)
INFO:tensorflow:global_step/sec: 192.443
INFO:tensorflow:loss = 0.308658, step = 10201 (0.516 sec)
INFO:tensorflow:global_step/sec: 250.086
INFO:tensorflow:loss = 0.150103, step = 10301 (0.400 sec)
INFO:tensorflow:global_step/sec: 248.983
INFO:tensorflow:loss = 0.140068, step = 10401 (0.402 sec)
INFO:tensorflow:global_step/sec: 251.113
INFO:tensorflow:loss = 0.329232, step = 10501 (0.398 sec)
INFO:tensorflow:global_step/sec: 259.694
INFO:tensorflow:loss = 0.229747, step = 10601 (0.385 sec)
INFO:tensorflow:global_step/sec: 253.399
INFO:tensorflow:loss = 0.273612, step = 10701 (0.395 sec)
INFO:tensorflow:global_step/sec: 251.743
INFO:tensorflow:loss = 0.325693, step = 10801 (0.397 sec)
INFO:tensorflow:global_step/sec: 254.843
INFO:tensorflow:loss = 0.136703, step = 10901 (0.392 sec)
INFO:tensorflow:global_step/sec: 253.99
INFO:tensorflow:loss = 0.105025, step = 11001 (0.395 sec)
INFO:tensorflow:global_step/sec: 253.869
INFO:tensorflow:loss = 0.127671, step = 11101 (0.393 sec)
INFO:tensorflow:global_step/sec: 253.849
INFO:tensorflow:loss = 0.328899, step = 11201 (0.394 sec)
INFO:tensorflow:global_step/sec: 252.012
INFO:tensorflow:loss = 0.181466, step = 11301 (0.397 sec)
INFO:tensorflow:global_step/sec: 254.242
INFO:tensorflow:loss = 0.39895, step = 11401 (0.393 sec)
INFO:tensorflow:global_step/sec: 253.335
INFO:tensorflow:loss = 0.261843, step = 11501 (0.395 sec)
INFO:tensorflow:global_step/sec: 182.385
INFO:tensorflow:loss = 0.276023, step = 11601 (0.548 sec)
INFO:tensorflow:global_step/sec: 249.403
INFO:tensorflow:loss = 0.248457, step = 11701 (0.401 sec)
INFO:tensorflow:global_step/sec: 246.937
INFO:tensorflow:loss = 0.235611, step = 11801 (0.405 sec)
INFO:tensorflow:global_step/sec: 251.03
INFO:tensorflow:loss = 0.297291, step = 11901 (0.399 sec)
INFO:tensorflow:global_step/sec: 253.221
INFO:tensorflow:loss = 0.272106, step = 12001 (0.394 sec)
INFO:tensorflow:global_step/sec: 248.417
INFO:tensorflow:loss = 0.259036, step = 12101 (0.403 sec)
INFO:tensorflow:global_step/sec: 253.521
INFO:tensorflow:loss = 0.0975181, step = 12201 (0.394 sec)
INFO:tensorflow:global_step/sec: 254.55
INFO:tensorflow:loss = 0.300566, step = 12301 (0.393 sec)
INFO:tensorflow:global_step/sec: 257.383
INFO:tensorflow:loss = 0.300784, step = 12401 (0.390 sec)
INFO:tensorflow:global_step/sec: 250.114
INFO:tensorflow:loss = 0.11841, step = 12501 (0.399 sec)
INFO:tensorflow:global_step/sec: 250.194
INFO:tensorflow:loss = 0.184816, step = 12601 (0.399 sec)
INFO:tensorflow:global_step/sec: 253.191
INFO:tensorflow:loss = 0.103496, step = 12701 (0.395 sec)
INFO:tensorflow:global_step/sec: 252.51
INFO:tensorflow:loss = 0.254171, step = 12801 (0.396 sec)
INFO:tensorflow:global_step/sec: 250.69
INFO:tensorflow:loss = 0.204944, step = 12901 (0.399 sec)
INFO:tensorflow:global_step/sec: 249.778
INFO:tensorflow:loss = 0.139056, step = 13001 (0.401 sec)
INFO:tensorflow:global_step/sec: 254.889
INFO:tensorflow:loss = 0.193992, step = 13101 (0.392 sec)
INFO:tensorflow:global_step/sec: 245.772
INFO:tensorflow:loss = 0.162292, step = 13201 (0.407 sec)
INFO:tensorflow:global_step/sec: 213.512
INFO:tensorflow:loss = 0.123817, step = 13301 (0.468 sec)
INFO:tensorflow:global_step/sec: 251.273
INFO:tensorflow:loss = 0.171275, step = 13401 (0.398 sec)
INFO:tensorflow:global_step/sec: 258.16
INFO:tensorflow:loss = 0.176913, step = 13501 (0.387 sec)
INFO:tensorflow:global_step/sec: 250.241
INFO:tensorflow:loss = 0.203538, step = 13601 (0.400 sec)
INFO:tensorflow:global_step/sec: 250.524
INFO:tensorflow:loss = 0.194804, step = 13701 (0.399 sec)
INFO:tensorflow:global_step/sec: 251.755
INFO:tensorflow:loss = 0.255113, step = 13801 (0.397 sec)
INFO:tensorflow:global_step/sec: 182.396
INFO:tensorflow:loss = 0.234494, step = 13901 (0.548 sec)
INFO:tensorflow:global_step/sec: 254.362
INFO:tensorflow:loss = 0.245267, step = 14001 (0.393 sec)
INFO:tensorflow:global_step/sec: 252.997
INFO:tensorflow:loss = 0.210209, step = 14101 (0.395 sec)
INFO:tensorflow:global_step/sec: 191.728
INFO:tensorflow:loss = 0.136273, step = 14201 (0.521 sec)
INFO:tensorflow:global_step/sec: 247.308
INFO:tensorflow:loss = 0.1201, step = 14301 (0.404 sec)
INFO:tensorflow:global_step/sec: 251.029
INFO:tensorflow:loss = 0.234185, step = 14401 (0.398 sec)
INFO:tensorflow:global_step/sec: 250.074
INFO:tensorflow:loss = 0.319647, step = 14501 (0.400 sec)
INFO:tensorflow:global_step/sec: 202.659
INFO:tensorflow:loss = 0.286349, step = 14601 (0.497 sec)
INFO:tensorflow:global_step/sec: 182.802
INFO:tensorflow:loss = 0.10646, step = 14701 (0.544 sec)
INFO:tensorflow:global_step/sec: 183.899
INFO:tensorflow:loss = 0.158832, step = 14801 (0.545 sec)
INFO:tensorflow:global_step/sec: 201.497
INFO:tensorflow:loss = 0.208368, step = 14901 (0.495 sec)
INFO:tensorflow:global_step/sec: 204.793
INFO:tensorflow:loss = 0.134053, step = 15001 (0.489 sec)
INFO:tensorflow:global_step/sec: 236.311
INFO:tensorflow:loss = 0.201837, step = 15101 (0.422 sec)
INFO:tensorflow:global_step/sec: 187.233
INFO:tensorflow:loss = 0.348308, step = 15201 (0.534 sec)
INFO:tensorflow:global_step/sec: 243.964
INFO:tensorflow:loss = 0.178821, step = 15301 (0.410 sec)
INFO:tensorflow:global_step/sec: 244.478
INFO:tensorflow:loss = 0.243933, step = 15401 (0.409 sec)
INFO:tensorflow:global_step/sec: 254.055
INFO:tensorflow:loss = 0.189735, step = 15501 (0.394 sec)
INFO:tensorflow:global_step/sec: 160.471
INFO:tensorflow:loss = 0.111884, step = 15601 (0.626 sec)
INFO:tensorflow:global_step/sec: 175.618

INFO:tensorflow:loss = 0.173682, step = 15701 (0.567 sec)
INFO:tensorflow:global_step/sec: 182.884
INFO:tensorflow:loss = 0.171692, step = 15801 (0.547 sec)
INFO:tensorflow:global_step/sec: 240.963
INFO:tensorflow:loss = 0.260209, step = 15901 (0.415 sec)
INFO:tensorflow:global_step/sec: 192.726
INFO:tensorflow:loss = 0.166079, step = 16001 (0.519 sec)
INFO:tensorflow:global_step/sec: 243.03
INFO:tensorflow:loss = 0.113388, step = 16101 (0.411 sec)
INFO:tensorflow:global_step/sec: 248.985
INFO:tensorflow:loss = 0.216497, step = 16201 (0.401 sec)
INFO:tensorflow:global_step/sec: 242.076
INFO:tensorflow:loss = 0.248984, step = 16301 (0.413 sec)
INFO:tensorflow:global_step/sec: 195.955
INFO:tensorflow:loss = 0.152577, step = 16401 (0.510 sec)
INFO:tensorflow:global_step/sec: 180.988
INFO:tensorflow:loss = 0.176617, step = 16501 (0.555 sec)
INFO:tensorflow:global_step/sec: 164.207
INFO:tensorflow:loss = 0.254844, step = 16601 (0.608 sec)
INFO:tensorflow:global_step/sec: 167.232
INFO:tensorflow:loss = 0.17258, step = 16701 (0.599 sec)
INFO:tensorflow:global_step/sec: 174.33
INFO:tensorflow:loss = 0.197395, step = 16801 (0.570 sec)
INFO:tensorflow:global_step/sec: 192.228
INFO:tensorflow:loss = 0.199506, step = 16901 (0.521 sec)
INFO:tensorflow:global_step/sec: 188.66
INFO:tensorflow:loss = 0.215584, step = 17001 (0.534 sec)
INFO:tensorflow:global_step/sec: 202.785
INFO:tensorflow:loss = 0.0962551, step = 17101 (0.489 sec)
INFO:tensorflow:global_step/sec: 202.522
INFO:tensorflow:loss = 0.152956, step = 17201 (0.494 sec)
INFO:tensorflow:global_step/sec: 205.184
INFO:tensorflow:loss = 0.124229, step = 17301 (0.487 sec)
INFO:tensorflow:global_step/sec: 202.462
INFO:tensorflow:loss = 0.168754, step = 17401 (0.494 sec)
INFO:tensorflow:global_step/sec: 200.454
INFO:tensorflow:loss = 0.104778, step = 17501 (0.499 sec)
INFO:tensorflow:global_step/sec: 207.503
INFO:tensorflow:loss = 0.248, step = 17601 (0.482 sec)
INFO:tensorflow:global_step/sec: 210.637
INFO:tensorflow:loss = 0.122095, step = 17701 (0.475 sec)
INFO:tensorflow:global_step/sec: 211.48
INFO:tensorflow:loss = 0.339391, step = 17801 (0.474 sec)
INFO:tensorflow:global_step/sec: 202.824
INFO:tensorflow:loss = 0.247529, step = 17901 (0.492 sec)
INFO:tensorflow:global_step/sec: 208.696
INFO:tensorflow:loss = 0.121923, step = 18001 (0.479 sec)
INFO:tensorflow:global_step/sec: 204.521
INFO:tensorflow:loss = 0.0944997, step = 18101 (0.489 sec)
INFO:tensorflow:global_step/sec: 202.903
INFO:tensorflow:loss = 0.175301, step = 18201 (0.493 sec)
INFO:tensorflow:global_step/sec: 203.179
INFO:tensorflow:loss = 0.161352, step = 18301 (0.492 sec)
INFO:tensorflow:global_step/sec: 234.311
INFO:tensorflow:loss = 0.158972, step = 18401 (0.427 sec)
INFO:tensorflow:global_step/sec: 242.026
INFO:tensorflow:loss = 0.232597, step = 18501 (0.413 sec)
INFO:tensorflow:global_step/sec: 246.213
INFO:tensorflow:loss = 0.24035, step = 18601 (0.406 sec)
INFO:tensorflow:global_step/sec: 243.973
INFO:tensorflow:loss = 0.22955, step = 18701 (0.410 sec)
INFO:tensorflow:global_step/sec: 245.317
INFO:tensorflow:loss = 0.272037, step = 18801 (0.408 sec)
INFO:tensorflow:global_step/sec: 239.632
INFO:tensorflow:loss = 0.119945, step = 18901 (0.417 sec)
INFO:tensorflow:global_step/sec: 249.682
INFO:tensorflow:loss = 0.153137, step = 19001 (0.401 sec)
INFO:tensorflow:global_step/sec: 251.01
INFO:tensorflow:loss = 0.157021, step = 19101 (0.398 sec)
INFO:tensorflow:global_step/sec: 241.692
INFO:tensorflow:loss = 0.203849, step = 19201 (0.415 sec)
INFO:tensorflow:global_step/sec: 241.829
INFO:tensorflow:loss = 0.181752, step = 19301 (0.412 sec)
INFO:tensorflow:global_step/sec: 244.941
INFO:tensorflow:loss = 0.180279, step = 19401 (0.408 sec)
INFO:tensorflow:global_step/sec: 253.387
INFO:tensorflow:loss = 0.0655638, step = 19501 (0.395 sec)
INFO:tensorflow:global_step/sec: 248.1
INFO:tensorflow:loss = 0.129007, step = 19601 (0.403 sec)
INFO:tensorflow:global_step/sec: 249.57
INFO:tensorflow:loss = 0.169856, step = 19701 (0.401 sec)
INFO:tensorflow:global_step/sec: 237.749
INFO:tensorflow:loss = 0.195931, step = 19801 (0.421 sec)
INFO:tensorflow:global_step/sec: 246.638
INFO:tensorflow:loss = 0.198804, step = 19901 (0.405 sec)
INFO:tensorflow:global_step/sec: 248.227
INFO:tensorflow:loss = 0.0810709, step = 20001 (0.403 sec)
INFO:tensorflow:global_step/sec: 244.932
INFO:tensorflow:loss = 0.242817, step = 20101 (0.408 sec)
INFO:tensorflow:global_step/sec: 244.51
INFO:tensorflow:loss = 0.179615, step = 20201 (0.411 sec)
INFO:tensorflow:global_step/sec: 239.601
INFO:tensorflow:loss = 0.151273, step = 20301 (0.417 sec)
INFO:tensorflow:global_step/sec: 215.282
INFO:tensorflow:loss = 0.203051, step = 20401 (0.465 sec)
INFO:tensorflow:global_step/sec: 209.576
INFO:tensorflow:loss = 0.0866231, step = 20501 (0.476 sec)
INFO:tensorflow:global_step/sec: 220.411
INFO:tensorflow:loss = 0.22152, step = 20601 (0.453 sec)
INFO:tensorflow:global_step/sec: 186.102
INFO:tensorflow:loss = 0.22826, step = 20701 (0.538 sec)
INFO:tensorflow:global_step/sec: 193.727
INFO:tensorflow:loss = 0.172377, step = 20801 (0.517 sec)
INFO:tensorflow:global_step/sec: 188.421
INFO:tensorflow:loss = 0.197104, step = 20901 (0.530 sec)
INFO:tensorflow:global_step/sec: 206.954
INFO:tensorflow:loss = 0.190025, step = 21001 (0.483 sec)
INFO:tensorflow:global_step/sec: 206.521
INFO:tensorflow:loss = 0.0544316, step = 21101 (0.484 sec)
INFO:tensorflow:global_step/sec: 242.964
INFO:tensorflow:loss = 0.276535, step = 21201 (0.413 sec)
INFO:tensorflow:global_step/sec: 194.74
INFO:tensorflow:loss = 0.15825, step = 21301 (0.512 sec)
INFO:tensorflow:global_step/sec: 241.38
INFO:tensorflow:loss = 0.194656, step = 21401 (0.414 sec)
INFO:tensorflow:global_step/sec: 247.904
INFO:tensorflow:loss = 0.182614, step = 21501 (0.404 sec)
INFO:tensorflow:global_step/sec: 191.649
INFO:tensorflow:loss = 0.170834, step = 21601 (0.523 sec)
INFO:tensorflow:global_step/sec: 201.442
INFO:tensorflow:loss = 0.120172, step = 21701 (0.495 sec)
INFO:tensorflow:global_step/sec: 241.398
INFO:tensorflow:loss = 0.0568121, step = 21801 (0.414 sec)
INFO:tensorflow:global_step/sec: 197.503
INFO:tensorflow:loss = 0.237524, step = 21901 (0.507 sec)
INFO:tensorflow:global_step/sec: 200.459
INFO:tensorflow:loss = 0.1783, step = 22001 (0.499 sec)
INFO:tensorflow:global_step/sec: 205.167
INFO:tensorflow:loss = 0.149208, step = 22101 (0.489 sec)
INFO:tensorflow:global_step/sec: 206.384
INFO:tensorflow:loss = 0.285286, step = 22201 (0.484 sec)
INFO:tensorflow:global_step/sec: 199.237
INFO:tensorflow:loss = 0.218162, step = 22301 (0.502 sec)
INFO:tensorflow:global_step/sec: 249.874
INFO:tensorflow:loss = 0.180845, step = 22401 (0.400 sec)
INFO:tensorflow:global_step/sec: 246.875
INFO:tensorflow:loss = 0.266891, step = 22501 (0.405 sec)
INFO:tensorflow:global_step/sec: 199.514
INFO:tensorflow:loss = 0.149167, step = 22601 (0.501 sec)
INFO:tensorflow:global_step/sec: 180.881
INFO:tensorflow:loss = 0.13621, step = 22701 (0.553 sec)
INFO:tensorflow:global_step/sec: 249.748
INFO:tensorflow:loss = 0.178441, step = 22801 (0.401 sec)
INFO:tensorflow:global_step/sec: 228.832
INFO:tensorflow:loss = 0.0977642, step = 22901 (0.436 sec)
INFO:tensorflow:global_step/sec: 247.213
INFO:tensorflow:loss = 0.0850955, step = 23001 (0.404 sec)
INFO:tensorflow:global_step/sec: 250.026
INFO:tensorflow:loss = 0.208308, step = 23101 (0.400 sec)
INFO:tensorflow:global_step/sec: 181.16
INFO:tensorflow:loss = 0.0752084, step = 23201 (0.553 sec)
INFO:tensorflow:global_step/sec: 244.824
INFO:tensorflow:loss = 0.292766, step = 23301 (0.408 sec)
INFO:tensorflow:global_step/sec: 194.191
INFO:tensorflow:loss = 0.210203, step = 23401 (0.516 sec)
INFO:tensorflow:global_step/sec: 198.326
INFO:tensorflow:loss = 0.149828, step = 23501 (0.503 sec)
INFO:tensorflow:global_step/sec: 241.607
INFO:tensorflow:loss = 0.191433, step = 23601 (0.414 sec)
INFO:tensorflow:global_step/sec: 242.476
INFO:tensorflow:loss = 0.137464, step = 23701 (0.412 sec)
INFO:tensorflow:global_step/sec: 237.328
INFO:tensorflow:loss = 0.216657, step = 23801 (0.421 sec)
INFO:tensorflow:global_step/sec: 240.841
INFO:tensorflow:loss = 0.171059, step = 23901 (0.415 sec)
INFO:tensorflow:global_step/sec: 208.757

INFO:tensorflow:loss = 0.164285, step = 24001 (0.479 sec)
INFO:tensorflow:global_step/sec: 235.14
INFO:tensorflow:loss = 0.133573, step = 24101 (0.425 sec)
INFO:tensorflow:global_step/sec: 253.129
INFO:tensorflow:loss = 0.072638, step = 24201 (0.395 sec)
INFO:tensorflow:global_step/sec: 235.364
INFO:tensorflow:loss = 0.0754976, step = 24301 (0.426 sec)
INFO:tensorflow:global_step/sec: 249.922
INFO:tensorflow:loss = 0.166121, step = 24401 (0.399 sec)
INFO:tensorflow:global_step/sec: 247.421
INFO:tensorflow:loss = 0.182792, step = 24501 (0.405 sec)
INFO:tensorflow:global_step/sec: 246.215
INFO:tensorflow:loss = 0.0783741, step = 24601 (0.405 sec)
INFO:tensorflow:global_step/sec: 248.497
INFO:tensorflow:loss = 0.161554, step = 24701 (0.403 sec)
INFO:tensorflow:global_step/sec: 187.105
INFO:tensorflow:loss = 0.0818821, step = 24801 (0.534 sec)
INFO:tensorflow:global_step/sec: 230.427
INFO:tensorflow:loss = 0.162737, step = 24901 (0.435 sec)
INFO:tensorflow:global_step/sec: 210.484
INFO:tensorflow:loss = 0.124199, step = 25001 (0.474 sec)
INFO:tensorflow:global_step/sec: 196.087
INFO:tensorflow:loss = 0.109556, step = 25101 (0.511 sec)
INFO:tensorflow:global_step/sec: 205.193
INFO:tensorflow:loss = 0.129358, step = 25201 (0.486 sec)
INFO:tensorflow:global_step/sec: 202.127
INFO:tensorflow:loss = 0.17895, step = 25301 (0.495 sec)
INFO:tensorflow:global_step/sec: 208.754
INFO:tensorflow:loss = 0.0598922, step = 25401 (0.479 sec)
INFO:tensorflow:global_step/sec: 212.58
INFO:tensorflow:loss = 0.173424, step = 25501 (0.470 sec)
INFO:tensorflow:global_step/sec: 203.758
INFO:tensorflow:loss = 0.111475, step = 25601 (0.491 sec)
INFO:tensorflow:global_step/sec: 202.172
INFO:tensorflow:loss = 0.12962, step = 25701 (0.495 sec)
INFO:tensorflow:global_step/sec: 206.506
INFO:tensorflow:loss = 0.183719, step = 25801 (0.485 sec)
INFO:tensorflow:global_step/sec: 207.083
INFO:tensorflow:loss = 0.146767, step = 25901 (0.483 sec)
INFO:tensorflow:global_step/sec: 241.816
INFO:tensorflow:loss = 0.0729491, step = 26001 (0.413 sec)
INFO:tensorflow:global_step/sec: 199.702
INFO:tensorflow:loss = 0.162986, step = 26101 (0.501 sec)
INFO:tensorflow:global_step/sec: 205.376
INFO:tensorflow:loss = 0.172096, step = 26201 (0.487 sec)
INFO:tensorflow:global_step/sec: 238.838
INFO:tensorflow:loss = 0.16795, step = 26301 (0.421 sec)
INFO:tensorflow:global_step/sec: 196.56
INFO:tensorflow:loss = 0.172328, step = 26401 (0.507 sec)
INFO:tensorflow:global_step/sec: 194.65
INFO:tensorflow:loss = 0.140738, step = 26501 (0.513 sec)
INFO:tensorflow:global_step/sec: 209.478
INFO:tensorflow:loss = 0.154893, step = 26601 (0.478 sec)
INFO:tensorflow:global_step/sec: 206.212
INFO:tensorflow:loss = 0.163603, step = 26701 (0.485 sec)
INFO:tensorflow:global_step/sec: 201.519
INFO:tensorflow:loss = 0.120038, step = 26801 (0.495 sec)
INFO:tensorflow:global_step/sec: 206.075
INFO:tensorflow:loss = 0.218168, step = 26901 (0.488 sec)
INFO:tensorflow:global_step/sec: 179.766
INFO:tensorflow:loss = 0.204072, step = 27001 (0.554 sec)
INFO:tensorflow:global_step/sec: 205.07
INFO:tensorflow:loss = 0.10951, step = 27101 (0.488 sec)
INFO:tensorflow:global_step/sec: 206.398
INFO:tensorflow:loss = 0.102856, step = 27201 (0.485 sec)
INFO:tensorflow:global_step/sec: 205.858
INFO:tensorflow:loss = 0.200024, step = 27301 (0.485 sec)
INFO:tensorflow:global_step/sec: 201.618
INFO:tensorflow:loss = 0.106384, step = 27401 (0.496 sec)
INFO:tensorflow:global_step/sec: 200.34
INFO:tensorflow:loss = 0.0347246, step = 27501 (0.499 sec)
INFO:tensorflow:global_step/sec: 203.193
INFO:tensorflow:loss = 0.0759634, step = 27601 (0.492 sec)
INFO:tensorflow:global_step/sec: 201.102
INFO:tensorflow:loss = 0.0894485, step = 27701 (0.497 sec)
INFO:tensorflow:global_step/sec: 200.942
INFO:tensorflow:loss = 0.121615, step = 27801 (0.498 sec)
INFO:tensorflow:global_step/sec: 201.48
INFO:tensorflow:loss = 0.188679, step = 27901 (0.497 sec)
INFO:tensorflow:global_step/sec: 201.57
INFO:tensorflow:loss = 0.158698, step = 28001 (0.495 sec)
INFO:tensorflow:global_step/sec: 209.269
INFO:tensorflow:loss = 0.184401, step = 28101 (0.479 sec)
INFO:tensorflow:global_step/sec: 201.519
INFO:tensorflow:loss = 0.108814, step = 28201 (0.495 sec)
INFO:tensorflow:global_step/sec: 206.24
INFO:tensorflow:loss = 0.187218, step = 28301 (0.486 sec)
INFO:tensorflow:global_step/sec: 207.622
INFO:tensorflow:loss = 0.223486, step = 28401 (0.482 sec)
INFO:tensorflow:global_step/sec: 199.604
INFO:tensorflow:loss = 0.15163, step = 28501 (0.500 sec)
INFO:tensorflow:global_step/sec: 198.354
INFO:tensorflow:loss = 0.209023, step = 28601 (0.504 sec)
INFO:tensorflow:global_step/sec: 204.453
INFO:tensorflow:loss = 0.105759, step = 28701 (0.490 sec)
INFO:tensorflow:global_step/sec: 178.666
INFO:tensorflow:loss = 0.154282, step = 28801 (0.559 sec)
INFO:tensorflow:global_step/sec: 205.731
INFO:tensorflow:loss = 0.118799, step = 28901 (0.486 sec)
INFO:tensorflow:global_step/sec: 226.989
INFO:tensorflow:loss = 0.172627, step = 29001 (0.441 sec)
INFO:tensorflow:global_step/sec: 198.4
INFO:tensorflow:loss = 0.225688, step = 29101 (0.505 sec)
INFO:tensorflow:global_step/sec: 198.141
INFO:tensorflow:loss = 0.20279, step = 29201 (0.504 sec)
INFO:tensorflow:global_step/sec: 187.048
INFO:tensorflow:loss = 0.0914996, step = 29301 (0.534 sec)
INFO:tensorflow:global_step/sec: 234.831
INFO:tensorflow:loss = 0.171248, step = 29401 (0.426 sec)
INFO:tensorflow:global_step/sec: 240.809
INFO:tensorflow:loss = 0.212844, step = 29501 (0.416 sec)
INFO:tensorflow:global_step/sec: 236.977
INFO:tensorflow:loss = 0.163426, step = 29601 (0.421 sec)
INFO:tensorflow:global_step/sec: 233.457
INFO:tensorflow:loss = 0.228495, step = 29701 (0.428 sec)
INFO:tensorflow:global_step/sec: 205.229
INFO:tensorflow:loss = 0.18403, step = 29801 (0.488 sec)
INFO:tensorflow:global_step/sec: 226.492
INFO:tensorflow:loss = 0.16796, step = 29901 (0.441 sec)
INFO:tensorflow:global_step/sec: 206.533
INFO:tensorflow:loss = 0.293012, step = 30001 (0.484 sec)
INFO:tensorflow:global_step/sec: 205.258
INFO:tensorflow:loss = 0.216568, step = 30101 (0.490 sec)
INFO:tensorflow:global_step/sec: 204.576
INFO:tensorflow:loss = 0.0653789, step = 30201 (0.488 sec)
INFO:tensorflow:global_step/sec: 205.023
INFO:tensorflow:loss = 0.121085, step = 30301 (0.487 sec)
INFO:tensorflow:global_step/sec: 206.568
INFO:tensorflow:loss = 0.247516, step = 30401 (0.484 sec)
INFO:tensorflow:global_step/sec: 208.783
INFO:tensorflow:loss = 0.10018, step = 30501 (0.479 sec)
INFO:tensorflow:global_step/sec: 209.46
INFO:tensorflow:loss = 0.200494, step = 30601 (0.479 sec)
INFO:tensorflow:global_step/sec: 202.343
INFO:tensorflow:loss = 0.15404, step = 30701 (0.493 sec)
INFO:tensorflow:global_step/sec: 205.085
INFO:tensorflow:loss = 0.104712, step = 30801 (0.488 sec)
INFO:tensorflow:global_step/sec: 202.344
INFO:tensorflow:loss = 0.0883829, step = 30901 (0.494 sec)
INFO:tensorflow:global_step/sec: 205.026
INFO:tensorflow:loss = 0.0928199, step = 31001 (0.488 sec)
INFO:tensorflow:global_step/sec: 203.352
INFO:tensorflow:loss = 0.207417, step = 31101 (0.492 sec)
INFO:tensorflow:global_step/sec: 205.823
INFO:tensorflow:loss = 0.173716, step = 31201 (0.486 sec)
INFO:tensorflow:global_step/sec: 206.632
INFO:tensorflow:loss = 0.100411, step = 31301 (0.485 sec)
INFO:tensorflow:global_step/sec: 206.28
INFO:tensorflow:loss = 0.0878295, step = 31401 (0.483 sec)
INFO:tensorflow:global_step/sec: 205.272
INFO:tensorflow:loss = 0.185236, step = 31501 (0.487 sec)
INFO:tensorflow:global_step/sec: 196.455
INFO:tensorflow:loss = 0.207741, step = 31601 (0.510 sec)
INFO:tensorflow:global_step/sec: 195.941
INFO:tensorflow:loss = 0.232341, step = 31701 (0.510 sec)
INFO:tensorflow:global_step/sec: 195
INFO:tensorflow:loss = 0.0809962, step = 31801 (0.512 sec)
INFO:tensorflow:global_step/sec: 198.193
INFO:tensorflow:loss = 0.217747, step = 31901 (0.506 sec)
INFO:tensorflow:global_step/sec: 242.092
INFO:tensorflow:loss = 0.250003, step = 32001 (0.411 sec)
INFO:tensorflow:global_step/sec: 249.502
INFO:tensorflow:loss = 0.221748, step = 32101 (0.401 sec)
INFO:tensorflow:global_step/sec: 231.823
INFO:tensorflow:loss = 0.212081, step = 32201 (0.432 sec)
INFO:tensorflow:global_step/sec: 244.251

INFO:tensorflow:loss = 0.0639502, step = 32301 (0.410 sec)
INFO:tensorflow:global_step/sec: 241.899
INFO:tensorflow:loss = 0.119813, step = 32401 (0.412 sec)
INFO:tensorflow:global_step/sec: 247.898
INFO:tensorflow:loss = 0.11623, step = 32501 (0.405 sec)
INFO:tensorflow:global_step/sec: 247.962
INFO:tensorflow:loss = 0.120416, step = 32601 (0.402 sec)
INFO:tensorflow:global_step/sec: 239.706
INFO:tensorflow:loss = 0.251687, step = 32701 (0.417 sec)
INFO:tensorflow:global_step/sec: 244.37
INFO:tensorflow:loss = 0.245373, step = 32801 (0.409 sec)
INFO:tensorflow:global_step/sec: 239.366
INFO:tensorflow:loss = 0.137756, step = 32901 (0.418 sec)
INFO:tensorflow:global_step/sec: 254.065
INFO:tensorflow:loss = 0.107716, step = 33001 (0.395 sec)
INFO:tensorflow:global_step/sec: 247.945
INFO:tensorflow:loss = 0.150147, step = 33101 (0.402 sec)
INFO:tensorflow:global_step/sec: 253.097
INFO:tensorflow:loss = 0.18908, step = 33201 (0.395 sec)
INFO:tensorflow:global_step/sec: 251.705
INFO:tensorflow:loss = 0.217502, step = 33301 (0.397 sec)
INFO:tensorflow:global_step/sec: 229.528
INFO:tensorflow:loss = 0.172186, step = 33401 (0.436 sec)
INFO:tensorflow:global_step/sec: 247.998
INFO:tensorflow:loss = 0.160277, step = 33501 (0.403 sec)
INFO:tensorflow:global_step/sec: 248.246
INFO:tensorflow:loss = 0.14805, step = 33601 (0.403 sec)
INFO:tensorflow:global_step/sec: 242.445
INFO:tensorflow:loss = 0.11059, step = 33701 (0.412 sec)
INFO:tensorflow:global_step/sec: 249.631
INFO:tensorflow:loss = 0.161149, step = 33801 (0.401 sec)
INFO:tensorflow:global_step/sec: 245.042
INFO:tensorflow:loss = 0.175642, step = 33901 (0.408 sec)
INFO:tensorflow:global_step/sec: 246.63
INFO:tensorflow:loss = 0.132871, step = 34001 (0.405 sec)
INFO:tensorflow:global_step/sec: 248.423
INFO:tensorflow:loss = 0.115475, step = 34101 (0.402 sec)
INFO:tensorflow:global_step/sec: 245.263
INFO:tensorflow:loss = 0.20883, step = 34201 (0.408 sec)
INFO:tensorflow:global_step/sec: 243.923
INFO:tensorflow:loss = 0.0852439, step = 34301 (0.410 sec)
INFO:tensorflow:global_step/sec: 251.563
INFO:tensorflow:loss = 0.157904, step = 34401 (0.398 sec)
INFO:tensorflow:global_step/sec: 246.186
INFO:tensorflow:loss = 0.224993, step = 34501 (0.406 sec)
INFO:tensorflow:global_step/sec: 246.922
INFO:tensorflow:loss = 0.22797, step = 34601 (0.405 sec)
INFO:tensorflow:global_step/sec: 243.282
INFO:tensorflow:loss = 0.134234, step = 34701 (0.411 sec)
INFO:tensorflow:global_step/sec: 246.651
INFO:tensorflow:loss = 0.056402, step = 34801 (0.405 sec)
INFO:tensorflow:global_step/sec: 245.115
INFO:tensorflow:loss = 0.156078, step = 34901 (0.408 sec)
INFO:tensorflow:global_step/sec: 241.535
INFO:tensorflow:loss = 0.166242, step = 35001 (0.415 sec)
INFO:tensorflow:global_step/sec: 243.098
INFO:tensorflow:loss = 0.206267, step = 35101 (0.410 sec)
INFO:tensorflow:global_step/sec: 197.101
INFO:tensorflow:loss = 0.104347, step = 35201 (0.507 sec)
INFO:tensorflow:global_step/sec: 206.144
INFO:tensorflow:loss = 0.181363, step = 35301 (0.486 sec)
INFO:tensorflow:global_step/sec: 199.12
INFO:tensorflow:loss = 0.13404, step = 35401 (0.501 sec)
INFO:tensorflow:global_step/sec: 203.536
INFO:tensorflow:loss = 0.300956, step = 35501 (0.491 sec)
INFO:tensorflow:global_step/sec: 208.723
INFO:tensorflow:loss = 0.132206, step = 35601 (0.479 sec)
INFO:tensorflow:global_step/sec: 207.966
INFO:tensorflow:loss = 0.0876101, step = 35701 (0.481 sec)
INFO:tensorflow:global_step/sec: 207.085
INFO:tensorflow:loss = 0.219042, step = 35801 (0.483 sec)
INFO:tensorflow:global_step/sec: 206.661
INFO:tensorflow:loss = 0.173877, step = 35901 (0.484 sec)
INFO:tensorflow:global_step/sec: 204.761
INFO:tensorflow:loss = 0.143817, step = 36001 (0.488 sec)
INFO:tensorflow:global_step/sec: 230.016
INFO:tensorflow:loss = 0.181125, step = 36101 (0.436 sec)
INFO:tensorflow:global_step/sec: 193.777
INFO:tensorflow:loss = 0.148521, step = 36201 (0.515 sec)
INFO:tensorflow:global_step/sec: 207.855
INFO:tensorflow:loss = 0.189688, step = 36301 (0.481 sec)
INFO:tensorflow:global_step/sec: 208.256
INFO:tensorflow:loss = 0.0634098, step = 36401 (0.480 sec)
INFO:tensorflow:global_step/sec: 197.85
INFO:tensorflow:loss = 0.0885845, step = 36501 (0.505 sec)
INFO:tensorflow:global_step/sec: 204.421
INFO:tensorflow:loss = 0.154401, step = 36601 (0.489 sec)
INFO:tensorflow:global_step/sec: 205.899
INFO:tensorflow:loss = 0.285804, step = 36701 (0.486 sec)
INFO:tensorflow:global_step/sec: 208.046
INFO:tensorflow:loss = 0.26474, step = 36801 (0.481 sec)
INFO:tensorflow:global_step/sec: 177.312
INFO:tensorflow:loss = 0.149422, step = 36901 (0.564 sec)
INFO:tensorflow:global_step/sec: 207.613
INFO:tensorflow:loss = 0.217727, step = 37001 (0.482 sec)
INFO:tensorflow:global_step/sec: 201.78
INFO:tensorflow:loss = 0.0651335, step = 37101 (0.496 sec)
INFO:tensorflow:global_step/sec: 211.261
INFO:tensorflow:loss = 0.0910484, step = 37201 (0.473 sec)
INFO:tensorflow:global_step/sec: 201.543
INFO:tensorflow:loss = 0.201141, step = 37301 (0.496 sec)
INFO:tensorflow:global_step/sec: 208.702
INFO:tensorflow:loss = 0.100025, step = 37401 (0.479 sec)
INFO:tensorflow:global_step/sec: 208.222
INFO:tensorflow:loss = 0.0926015, step = 37501 (0.480 sec)
INFO:tensorflow:global_step/sec: 206.362
INFO:tensorflow:loss = 0.108801, step = 37601 (0.484 sec)
INFO:tensorflow:global_step/sec: 220.015
INFO:tensorflow:loss = 0.0923419, step = 37701 (0.457 sec)
INFO:tensorflow:global_step/sec: 200.108
INFO:tensorflow:loss = 0.183337, step = 37801 (0.503 sec)
INFO:tensorflow:global_step/sec: 199.648
INFO:tensorflow:loss = 0.225875, step = 37901 (0.495 sec)
INFO:tensorflow:global_step/sec: 204.011
INFO:tensorflow:loss = 0.167673, step = 38001 (0.490 sec)
INFO:tensorflow:global_step/sec: 202.204
INFO:tensorflow:loss = 0.0713817, step = 38101 (0.494 sec)
INFO:tensorflow:global_step/sec: 200.852
INFO:tensorflow:loss = 0.181318, step = 38201 (0.500 sec)
INFO:tensorflow:global_step/sec: 204.814
INFO:tensorflow:loss = 0.120197, step = 38301 (0.486 sec)
INFO:tensorflow:global_step/sec: 205.889
INFO:tensorflow:loss = 0.0879337, step = 38401 (0.486 sec)
INFO:tensorflow:global_step/sec: 199.86
INFO:tensorflow:loss = 0.139518, step = 38501 (0.500 sec)
INFO:tensorflow:global_step/sec: 198.333
INFO:tensorflow:loss = 0.100345, step = 38601 (0.506 sec)
INFO:tensorflow:global_step/sec: 205.841
INFO:tensorflow:loss = 0.122685, step = 38701 (0.484 sec)
INFO:tensorflow:global_step/sec: 235.366
INFO:tensorflow:loss = 0.10157, step = 38801 (0.425 sec)
INFO:tensorflow:global_step/sec: 240.512
INFO:tensorflow:loss = 0.0809093, step = 38901 (0.416 sec)
INFO:tensorflow:global_step/sec: 239.356
INFO:tensorflow:loss = 0.117047, step = 39001 (0.418 sec)
INFO:tensorflow:global_step/sec: 236.121
INFO:tensorflow:loss = 0.198177, step = 39101 (0.423 sec)
INFO:tensorflow:global_step/sec: 237.005
INFO:tensorflow:loss = 0.158239, step = 39201 (0.422 sec)
INFO:tensorflow:global_step/sec: 244.331
INFO:tensorflow:loss = 0.113698, step = 39301 (0.409 sec)
INFO:tensorflow:global_step/sec: 235.735
INFO:tensorflow:loss = 0.0855179, step = 39401 (0.424 sec)
INFO:tensorflow:global_step/sec: 244.594
INFO:tensorflow:loss = 0.0924429, step = 39501 (0.409 sec)
INFO:tensorflow:global_step/sec: 233.792
INFO:tensorflow:loss = 0.0682304, step = 39601 (0.428 sec)
INFO:tensorflow:global_step/sec: 245.433
INFO:tensorflow:loss = 0.0745502, step = 39701 (0.407 sec)
INFO:tensorflow:global_step/sec: 239.738
INFO:tensorflow:loss = 0.162362, step = 39801 (0.418 sec)
INFO:tensorflow:global_step/sec: 228.204
INFO:tensorflow:loss = 0.0676468, step = 39901 (0.437 sec)
INFO:tensorflow:Saving checkpoints for 40000 into /tmp/tmphfUNpl/model.ckpt.
INFO:tensorflow:Loss for final step: 0.113743.

SKCompat()

In [38]:
pred_for =dnn_clf.predict(X_test)
accuracy_score(y_test,pred_for['classes'])

WARNING:tensorflow:float64 is not supported by many models, consider casting to float32.
INFO:tensorflow:Restoring parameters from /tmp/tmphfUNpl/model.ckpt-40000

0.78212290502793291

In [39]:
predict = dnn_clf.predict(titanic_test)
submission = pd.DataFrame({
        "PassengerId": load_housing_data(path = "test.csv")["PassengerId"],
        "Survived": predict['classes']
    })
csv_path = os.path.join(HOUSING_PATH, "submission_dnn.csv")
submission.to_csv(csv_path, index=False)

WARNING:tensorflow:float64 is not supported by many models, consider casting to float32.
INFO:tensorflow:Restoring parameters from /tmp/tmphfUNpl/model.ckpt-40000

In [51]:
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import SGDRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
poly_scaler = Pipeline([
        ("poly_features", PolynomialFeatures(degree=3, include_bias=False)),
        ("std_scaler", StandardScaler()),
    ])

X_train_poly_scaled = poly_scaler.fit_transform(X_train)
X_val_poly_scaled = poly_scaler.transform(X_test)

from sklearn.base import clone

sgd_reg = SGDRegressor(n_iter = 1,penalty = None,learning_rate = "constant",eta0 = 0.0005,warm_start = True)

min_val_error = float("inf")
best_epoch = None
best_model = None
print('begin')
for epoch in range(1000):
    print(epoch ,":epoch")
    sgd_reg.fit(X_train_poly_scaled,y_train)
    y_val_predict = sgd_reg.predict(X_val_poly_scaled)
    val_error = mean_squared_error(y_val_predict,y_test)
    if val_error < min_val_error:
        min_val_error = val_error
        best_epoch = epoch
        print(best_epoch,"error: ",min_val_error)
        best_model = clone(sgd_reg)
best_epoch,best_model

begin
0 :epoch
0 error:  0.219244137078
1 :epoch
1 error:  0.177013236137
2 :epoch
2 error:  0.162284039595
3 :epoch
3 error:  0.152602073455
4 :epoch
4 error:  0.147741998657
5 :epoch
5 error:  0.141745581506
6 :epoch
7 :epoch
8 :epoch
8 error:  0.139288834164
9 :epoch
10 :epoch
10 error:  0.138549131505
11 :epoch
12 :epoch
13 :epoch
14 :epoch
14 error:  0.137965963899
15 :epoch
16 :epoch
17 :epoch
18 :epoch
19 :epoch
20 :epoch
21 :epoch
21 error:  0.137365787881
22 :epoch
23 :epoch
24 :epoch
24 error:  0.137060022227
25 :epoch
26 :epoch
27 :epoch
28 :epoch
29 :epoch
30 :epoch
31 :epoch
32 :epoch
33 :epoch
34 :epoch
35 :epoch
36 :epoch
37 :epoch
38 :epoch
39 :epoch
40 :epoch
41 :epoch
42 :epoch
43 :epoch
44 :epoch
44 error:  0.136644225158
45 :epoch
46 :epoch
47 :epoch
48 :epoch
48 error:  0.136148832591
49 :epoch
50 :epoch
51 :epoch
52 :epoch
53 :epoch
54 :epoch
55 :epoch
56 :epoch
57 :epoch
58 :epoch
59 :epoch
60 :epoch
60 error:  0.136052433153
61 :epoch
62 :epoch
63 :epoch
64 :epoch
65 :epoch
66 :epoch
67 :epoch
68 :epoch
69 :epoch
70 :epoch
71 :epoch
72 :epoch
73 :epoch
74 :epoch
74 error:  0.135137828007
75 :epoch
76 :epoch
77 :epoch
78 :epoch
79 :epoch
80 :epoch
81 :epoch
82 :epoch
83 :epoch
84 :epoch
85 :epoch
86 :epoch
87 :epoch
88 :epoch
89 :epoch
90 :epoch
91 :epoch
92 :epoch
93 :epoch
94 :epoch
95 :epoch
96 :epoch
97 :epoch
98 :epoch
99 :epoch
100 :epoch
101 :epoch
102 :epoch
103 :epoch
104 :epoch
105 :epoch
106 :epoch
107 :epoch
108 :epoch
109 :epoch
110 :epoch
111 :epoch
112 :epoch
113 :epoch
114 :epoch
115 :epoch
116 :epoch
117 :epoch
118 :epoch
119 :epoch
120 :epoch
121 :epoch
122 :epoch
123 :epoch
124 :epoch
125 :epoch
126 :epoch
127 :epoch
128 :epoch
129 :epoch
130 :epoch
131 :epoch
132 :epoch
133 :epoch
134 :epoch
135 :epoch
136 :epoch
137 :epoch
138 :epoch
139 :epoch
140 :epoch
141 :epoch
142 :epoch
143 :epoch
144 :epoch
145 :epoch
146 :epoch
147 :epoch
148 :epoch
149 :epoch
150 :epoch
151 :epoch
152 :epoch
153 :epoch
154 :epoch
155 :epoch
156 :epoch
157 :epoch
158 :epoch
159 :epoch
160 :epoch
161 :epoch
162 :epoch
163 :epoch
164 :epoch
165 :epoch
166 :epoch
167 :epoch
168 :epoch
169 :epoch
170 :epoch
171 :epoch
172 :epoch
173 :epoch
174 :epoch
175 :epoch
176 :epoch
177 :epoch
178 :epoch
179 :epoch
180 :epoch
181 :epoch
182 :epoch
183 :epoch
184 :epoch
185 :epoch
186 :epoch
187 :epoch
188 :epoch
189 :epoch
190 :epoch
191 :epoch
192 :epoch
193 :epoch
194 :epoch
195 :epoch
196 :epoch
197 :epoch
198 :epoch
199 :epoch
200 :epoch
201 :epoch
202 :epoch
203 :epoch
204 :epoch
205 :epoch
206 :epoch
207 :epoch
208 :epoch
209 :epoch
210 :epoch
211 :epoch
212 :epoch
213 :epoch
214 :epoch
215 :epoch
216 :epoch
217 :epoch
218 :epoch
219 :epoch
220 :epoch
221 :epoch
222 :epoch
223 :epoch
224 :epoch
225 :epoch
226 :epoch
227 :epoch
228 :epoch
229 :epoch
230 :epoch
231 :epoch
232 :epoch
233 :epoch
234 :epoch
235 :epoch
236 :epoch
237 :epoch
238 :epoch
239 :epoch
240 :epoch
241 :epoch
242 :epoch
243 :epoch
244 :epoch
245 :epoch
246 :epoch
247 :epoch
248 :epoch
249 :epoch
250 :epoch
251 :epoch
252 :epoch
253 :epoch
254 :epoch
255 :epoch
256 :epoch
257 :epoch
258 :epoch
259 :epoch
260 :epoch
261 :epoch
262 :epoch
263 :epoch
264 :epoch
265 :epoch
266 :epoch
267 :epoch
268 :epoch
269 :epoch
270 :epoch
271 :epoch
272 :epoch
273 :epoch
274 :epoch
275 :epoch
276 :epoch
277 :epoch
278 :epoch
279 :epoch
280 :epoch
281 :epoch
282 :epoch
283 :epoch
284 :epoch
285 :epoch
286 :epoch
287 :epoch
288 :epoch
289 :epoch
290 :epoch
291 :epoch
292 :epoch
293 :epoch
294 :epoch
295 :epoch
296 :epoch
297 :epoch
298 :epoch
299 :epoch
300 :epoch
301 :epoch
302 :epoch
303 :epoch
304 :epoch
305 :epoch
306 :epoch
307 :epoch
308 :epoch
309 :epoch
310 :epoch
311 :epoch
312 :epoch
313 :epoch
314 :epoch
315 :epoch
316 :epoch
317 :epoch
318 :epoch
319 :epoch
320 :epoch
321 :epoch
322 :epoch
323 :epoch
324 :epoch
325 :epoch
326 :epoch
327 :epoch
328 :epoch
329 :epoch
330 :epoch
331 :epoch
332 :epoch
333 :epoch
334 :epoch
335 :epoch
336 :epoch
337 :epoch
338 :epoch
339 :epoch
340 :epoch
341 :epoch
342 :epoch
343 :epoch
344 :epoch
345 :epoch
346 :epoch
347 :epoch
348 :epoch
349 :epoch
350 :epoch
351 :epoch
352 :epoch
353 :epoch
354 :epoch
355 :epoch
356 :epoch
357 :epoch
358 :epoch
359 :epoch
360 :epoch
361 :epoch
362 :epoch
363 :epoch
364 :epoch
365 :epoch
366 :epoch
367 :epoch
368 :epoch
369 :epoch
370 :epoch
371 :epoch
372 :epoch
373 :epoch
374 :epoch
375 :epoch
376 :epoch
377 :epoch
378 :epoch
379 :epoch
380 :epoch
381 :epoch
382 :epoch
383 :epoch
384 :epoch
385 :epoch
386 :epoch
387 :epoch
388 :epoch
389 :epoch
390 :epoch
391 :epoch
392 :epoch
393 :epoch
394 :epoch
395 :epoch
396 :epoch
397 :epoch
398 :epoch
399 :epoch
400 :epoch
401 :epoch
402 :epoch
403 :epoch
404 :epoch
405 :epoch
406 :epoch
407 :epoch
408 :epoch
409 :epoch
410 :epoch
411 :epoch
412 :epoch
413 :epoch
414 :epoch
415 :epoch
416 :epoch
417 :epoch
418 :epoch
419 :epoch
420 :epoch
421 :epoch
422 :epoch
423 :epoch
424 :epoch
425 :epoch
426 :epoch
427 :epoch
428 :epoch
429 :epoch
430 :epoch
431 :epoch
432 :epoch
433 :epoch
434 :epoch
435 :epoch
436 :epoch
437 :epoch
438 :epoch
439 :epoch
440 :epoch
441 :epoch
442 :epoch
443 :epoch
444 :epoch
445 :epoch
446 :epoch
447 :epoch
448 :epoch
449 :epoch
450 :epoch
451 :epoch
452 :epoch
453 :epoch
454 :epoch
455 :epoch
456 :epoch
457 :epoch
458 :epoch
459 :epoch
460 :epoch
461 :epoch
462 :epoch
463 :epoch
464 :epoch
465 :epoch
466 :epoch
467 :epoch
468 :epoch
469 :epoch
470 :epoch
471 :epoch
472 :epoch
473 :epoch
474 :epoch
475 :epoch
476 :epoch
477 :epoch
478 :epoch
479 :epoch
480 :epoch
481 :epoch
482 :epoch
483 :epoch
484 :epoch
485 :epoch
486 :epoch
487 :epoch
488 :epoch
489 :epoch
490 :epoch
491 :epoch
492 :epoch
493 :epoch
494 :epoch
495 :epoch
496 :epoch
497 :epoch
498 :epoch
499 :epoch
500 :epoch
501 :epoch
502 :epoch
503 :epoch
504 :epoch
505 :epoch
506 :epoch
507 :epoch
508 :epoch
509 :epoch
510 :epoch
511 :epoch
512 :epoch
513 :epoch
514 :epoch
515 :epoch
516 :epoch
517 :epoch
518 :epoch
519 :epoch
520 :epoch
521 :epoch
522 :epoch
523 :epoch
524 :epoch
525 :epoch
526 :epoch
527 :epoch
528 :epoch
529 :epoch
530 :epoch
531 :epoch
532 :epoch
533 :epoch
534 :epoch
535 :epoch
536 :epoch
537 :epoch
538 :epoch
539 :epoch
540 :epoch
541 :epoch
542 :epoch
543 :epoch
544 :epoch
545 :epoch
546 :epoch
547 :epoch
548 :epoch
549 :epoch
550 :epoch
551 :epoch
552 :epoch
553 :epoch
554 :epoch
555 :epoch
556 :epoch
557 :epoch
558 :epoch
559 :epoch
560 :epoch
561 :epoch
562 :epoch
563 :epoch
564 :epoch
565 :epoch
566 :epoch
567 :epoch
568 :epoch
569 :epoch
570 :epoch
571 :epoch
572 :epoch
573 :epoch
574 :epoch
575 :epoch
576 :epoch
577 :epoch
578 :epoch
579 :epoch
580 :epoch
581 :epoch
582 :epoch
583 :epoch
584 :epoch
585 :epoch
586 :epoch
587 :epoch
588 :epoch
589 :epoch
590 :epoch
591 :epoch
592 :epoch
593 :epoch
594 :epoch
595 :epoch
596 :epoch
597 :epoch
598 :epoch
599 :epoch
600 :epoch
601 :epoch
602 :epoch
603 :epoch
604 :epoch
605 :epoch
606 :epoch
607 :epoch
608 :epoch
609 :epoch
610 :epoch
611 :epoch
612 :epoch
613 :epoch
614 :epoch
615 :epoch
616 :epoch
617 :epoch
618 :epoch
619 :epoch
620 :epoch
621 :epoch
622 :epoch
623 :epoch
624 :epoch
625 :epoch
626 :epoch
627 :epoch
628 :epoch
629 :epoch
630 :epoch
631 :epoch
632 :epoch
633 :epoch
634 :epoch
635 :epoch
636 :epoch
637 :epoch
638 :epoch
639 :epoch
640 :epoch
641 :epoch
642 :epoch
643 :epoch
644 :epoch
645 :epoch
646 :epoch
647 :epoch
648 :epoch
649 :epoch
650 :epoch
651 :epoch
652 :epoch
653 :epoch
654 :epoch
655 :epoch
656 :epoch
657 :epoch
658 :epoch
659 :epoch
660 :epoch
661 :epoch
662 :epoch
663 :epoch
664 :epoch
665 :epoch
666 :epoch
667 :epoch
668 :epoch
669 :epoch
670 :epoch
671 :epoch
672 :epoch
673 :epoch
674 :epoch
675 :epoch
676 :epoch
677 :epoch
678 :epoch
679 :epoch
680 :epoch
681 :epoch
682 :epoch
683 :epoch
684 :epoch
685 :epoch
686 :epoch
687 :epoch
688 :epoch
689 :epoch
690 :epoch
691 :epoch
692 :epoch
693 :epoch
694 :epoch
695 :epoch
696 :epoch
697 :epoch
698 :epoch
699 :epoch
700 :epoch
701 :epoch
702 :epoch
703 :epoch
704 :epoch
705 :epoch
706 :epoch
707 :epoch
708 :epoch
709 :epoch
710 :epoch
711 :epoch
712 :epoch
713 :epoch
714 :epoch
715 :epoch
716 :epoch
717 :epoch
718 :epoch
719 :epoch
720 :epoch
721 :epoch
722 :epoch
723 :epoch
724 :epoch
725 :epoch
726 :epoch
727 :epoch
728 :epoch
729 :epoch
730 :epoch
731 :epoch
732 :epoch
733 :epoch
734 :epoch
735 :epoch
736 :epoch
737 :epoch
738 :epoch
739 :epoch
740 :epoch
741 :epoch
742 :epoch
743 :epoch
744 :epoch
745 :epoch
746 :epoch
747 :epoch
748 :epoch
749 :epoch
750 :epoch
751 :epoch
752 :epoch
753 :epoch
754 :epoch
755 :epoch
756 :epoch
757 :epoch
758 :epoch
759 :epoch
760 :epoch

761 :epoch
762 :epoch
763 :epoch
764 :epoch
765 :epoch
766 :epoch
767 :epoch
768 :epoch
769 :epoch
770 :epoch
771 :epoch
772 :epoch
773 :epoch
774 :epoch
775 :epoch
776 :epoch
777 :epoch
778 :epoch
779 :epoch
780 :epoch
781 :epoch
782 :epoch
783 :epoch
784 :epoch
785 :epoch
786 :epoch
787 :epoch
788 :epoch
789 :epoch
790 :epoch
791 :epoch
792 :epoch
793 :epoch
794 :epoch
795 :epoch
796 :epoch
797 :epoch
798 :epoch
799 :epoch
800 :epoch
801 :epoch
802 :epoch
803 :epoch
804 :epoch
805 :epoch
806 :epoch
807 :epoch
808 :epoch
809 :epoch
810 :epoch
811 :epoch
812 :epoch
813 :epoch
814 :epoch
815 :epoch
816 :epoch
817 :epoch
818 :epoch
819 :epoch
820 :epoch
821 :epoch
822 :epoch
823 :epoch
824 :epoch
825 :epoch
826 :epoch
827 :epoch
828 :epoch
829 :epoch
830 :epoch
831 :epoch
832 :epoch
833 :epoch
834 :epoch
835 :epoch
836 :epoch
837 :epoch
838 :epoch
839 :epoch
840 :epoch
841 :epoch
842 :epoch
843 :epoch
844 :epoch
845 :epoch
846 :epoch
847 :epoch
848 :epoch
849 :epoch
850 :epoch
851 :epoch
852 :epoch
853 :epoch
854 :epoch
855 :epoch
856 :epoch
857 :epoch
858 :epoch
859 :epoch
860 :epoch
861 :epoch
862 :epoch
863 :epoch
864 :epoch
865 :epoch
866 :epoch
867 :epoch
868 :epoch
869 :epoch
870 :epoch
871 :epoch
872 :epoch
873 :epoch
874 :epoch
875 :epoch
876 :epoch
877 :epoch
878 :epoch
879 :epoch
880 :epoch
881 :epoch
882 :epoch
883 :epoch
884 :epoch
885 :epoch
886 :epoch
887 :epoch
888 :epoch
889 :epoch
890 :epoch
891 :epoch
892 :epoch
893 :epoch
894 :epoch
895 :epoch
896 :epoch
897 :epoch
898 :epoch
899 :epoch
900 :epoch
901 :epoch
902 :epoch
903 :epoch
904 :epoch
905 :epoch
906 :epoch
907 :epoch
908 :epoch
909 :epoch
910 :epoch
911 :epoch
912 :epoch
913 :epoch
914 :epoch
915 :epoch
916 :epoch
917 :epoch
918 :epoch
919 :epoch
920 :epoch
921 :epoch
922 :epoch
923 :epoch
924 :epoch
925 :epoch
926 :epoch
927 :epoch
928 :epoch
929 :epoch
930 :epoch
931 :epoch
932 :epoch
933 :epoch
934 :epoch
935 :epoch
936 :epoch
937 :epoch
938 :epoch
939 :epoch
940 :epoch
941 :epoch
942 :epoch
943 :epoch
944 :epoch
945 :epoch
946 :epoch
947 :epoch
948 :epoch
949 :epoch
950 :epoch
951 :epoch
952 :epoch
953 :epoch
954 :epoch
955 :epoch
956 :epoch
957 :epoch
958 :epoch
959 :epoch
960 :epoch
961 :epoch
962 :epoch
963 :epoch
964 :epoch
965 :epoch
966 :epoch
967 :epoch
968 :epoch
969 :epoch
970 :epoch
971 :epoch
972 :epoch
973 :epoch
974 :epoch
975 :epoch
976 :epoch
977 :epoch
978 :epoch
979 :epoch
980 :epoch
981 :epoch
982 :epoch
983 :epoch
984 :epoch
985 :epoch
986 :epoch
987 :epoch
988 :epoch
989 :epoch
990 :epoch
991 :epoch
992 :epoch
993 :epoch
994 :epoch
995 :epoch
996 :epoch
997 :epoch
998 :epoch
999 :epoch

(74, SGDRegressor(alpha=0.0001, average=False, epsilon=0.1, eta0=0.0005,
        fit_intercept=True, l1_ratio=0.15, learning_rate=u'constant',
        loss='squared_loss', n_iter=1, penalty=None, power_t=0.25,
        random_state=None, shuffle=True, verbose=0, warm_start=True))

In [55]:
best_model.fit(X_train,y_train)
pred_for =best_model.predict(X_test)
accuracy_score(y_test,pred_for)

ValueError: Can't handle mix of binary and continuous